.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/features/*
!data/features/.gitkeep
*.duckdb
*.duckdb.wal
data/raw_hf_messages/*
!data/raw_hf_messages/.gitkeep
.env
